@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font: #49454f;
  --light: #ece6f0;
}

* {
  font-family: montserrat, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

textarea:focus,
input:focus {
  outline: none;
}

body {
  background-color: var(--light);
}

/* Navbar  */

nav {
  padding: 0 32px;
  height: 150px;
  background-image: url("./img/background.png");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  align-content: center;
  justify-content: center;
  justify-self: center;
  grid-column: 2 / 3;
  border-radius: 99px;
  height: 50px;
  width: 300px;
  background-color: var(--light);
}

.locationInput {
  font-weight: 600;
  font-size: 16px;
  color: var(--font);
  background-color: inherit;
  width: 75%;
  border-radius: 99px;
  text-indent: 1px;
}

.locationInput::placeholder {
  font-weight: 400;
  font-size: 14px;
}

.searchBtn {
  height: 100%;
  cursor: pointer;
  width: 12%;
  background-color: inherit;
  border-radius: 99px;
}

.searchBtn > i {
  color: var(--font);
}

.settings-container {
  justify-self: end;
  grid-column: 3 / 4;
}

.convertBtn {
  opacity: 0.6;
  border: none;
  font-size: 12px;
  font-weight: 600;
  color: var(--font);
  padding: 8px 16px;
  border-radius: 99px;
  cursor: pointer;
  margin-left: 10px;
}

/* content */

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.currentWeather {
  margin-top: 50px;
}

.locationName {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.info-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 400px;
}

/* left info */

.leftInfo {
  display: grid;
  align-items: center;
  grid-template-columns: min-content fit-content(100%);
  grid-template-rows: 1fr 1fr;
}

.currentIcon > svg {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.3));
  height: 100px;
}

.currentTemp {
  font-weight: 500;
  font-size: 32px;
}

.date-time-container {
  margin-top: -10px;
  margin-left: 14px;
  align-self: start;
  grid-column: 1 / 3;
}

.currentDate,
.currentTime {
  font-size: 12px;
  font-weight: 600;
}

/* right info */

.side-info-container {
  padding: 4px;
  display: grid;
  justify-items: start;
  align-items: start;
  grid-template-columns: 50px 2fr;
  grid-template-rows: 20px 25px;
}

.side-info-container > svg {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.3));
  width: 50px;
  grid-row: 1 / 3;
}

.side-info-container > svg > path {
  margin-top: 10px;
}

.sideInfoTitle {
  font-size: 12px;
  font-weight: 600;
  align-self: end;
}

.sideInfoValue {
  font-size: 20px;
  font-weight: 500;
}

/* forecast */

.forecast-container {
  margin-top: 50px;
  display: flex;
}

.fc-day-container {
  min-width: 90px;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.fcTitle {
  margin-left: 10px;
  align-self: end;
  font-size: 14px;
  font-weight: 600;
  grid-column: 1 / 3;
}

.fc-day-container > div {
  grid-row: 2 / 4;
}

.fc-day-container > div > svg {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.2));
  height: 50px;
}

.fcMaxTemp {
  align-self: end;
  font-size: 16px;
  font-weight: 600;
}

.fcLowTemp {
  font-size: 12px;
  font-weight: 600;
}

/* copyright */

.copyright {
  color: var(--font);
  opacity: 0.6;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 1%;
  font-size: 12px;
  font-weight: 500;
}

.copyright > a {
  color: inherit;
}

.copyright > a:hover {
  opacity: 0.6;
}

.copyright > a > i {
  font-size: 18px;
}

/* toggle classes */

.active {
  opacity: 1;
  outline: var(--font) 2px solid;
}

/* support for mobile devices */

@media screen and (max-width: 800px) {
  nav {
    grid-template-columns: 1fr;
  }
  .scroll-container {
    width: 100%;
    overflow-x: auto;
  }
  .info-container {
    width: 350px;
  }
  .search-container {
    grid-column: 1 / 2;
    width: 250px;
  }
  .convertBtn {
    margin-bottom: 3px;
    padding: 4px 6px;
    font-size: 8px;
    width: 50px;
  }
}
